<div class="row">
 <div class="col-md-12">
 <h2>Categories
	<a href="/categories/add" class="btn btn-success pull-right">Add Category</a>

 </h2>
 <hr />
{{#if categories}}

	<table class='table'>
		<thead>
			<th class='text-center'>
				Category Id
			</th>
			<th>
				Category Name
			</th>
			<th></th>
		</thead>
		{{#each categories}}
			<tr>
				<td scope='row' class='text-center'>
					<a href='/posts?category={{id}}'>{{id}}</a>
				</td>
				<td>
					{{category}}
				</td>
				<td>
					<a href="categories/delete/{{id}}" class="btn btn-danger">Remove</a>
				</td>
			</tr>
		{{/each}}
	</table>

{{else}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
{{/if}}
 </div>
</div>